.admin-header {
    width: 100%;
    box-shadow: 0 0px 3px var(--primary);

    .sidebar-toggler {
        color: var(--primary);
        border: none !important;
        outline: none !important;
        i{
            font-size: 1.7rem !important;

        }
    }
    
    .navbar {
        .nav-item {
            cursor: pointer;
        }
        
        i {
            color: var(--primary);
            font-size: 1.3rem;

            &:hover {
                color: var(--text);
            }
        }

        .dropdown-toggle::after {
            color: var(--primary);
        }
    }

    .dropdown{
        .username{
            font-weight: 600;
            color: var(--primary);
        }
        .dropdown-menu {
            position: relative;
            z-index: 1000;
            border: 1px solid var(--primary);
            background-color: var(--secondary);
    
            .dropdown-item {
                color: var(--text);
                font-weight: 600;
            }
        }
    }
}