.admin-header {
    position: relative;
    z-index: 999;
    box-shadow: 0 1px 10px var(--shadow);

    .sidebar-toggler {
        color: var(--primary);
        font-size: 1.5rem;
        border: none !important;
        outline: none !important;

        &:hover {
            color: var(--secondary);
        }

    }

    .navbar {
        .nav-item {
            cursor: pointer;
        }

        i {
            color: var(--primary);
            font-size: 1.2rem;

            &:hover {
                color: var(--text);
            }
        }

        .dropdown-toggle::after {
            color: var(--primary);
        }
    }

    .dropdown-menu {
        position: relative;
        z-index: 1000;
        border: 1px solid var(--primary);
        background-color: var(--background);

        .dropdown-item {
            color: var(--text);
        }
    }
}