.cart-section {
    min-height: calc(100vh - 32vh);

    .not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - 145px);

        h1 {
            font-size: 2rem;
            font-weight: 600;
            color: var(--text);
        }

        a {
            position: relative;
            color: var(--primary);

            &:hover {
                color: var(--primary);
                transition: 0.3s all ease-in-out;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0px;
                    bottom: -4px;
                    width: 0;
                    height: 3px;
                    background-color: var(--primary);

                    animation: draw-border 0.3s forwards;
                }
            }
        }
    }
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5rem;
    align-items: center;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: var(--primary);
    color: var(--text2);
}

.cart-table td img {
    border-radius: 50%;
}

.qty {
    display: flex;
    align-items: center;
}

.qty-dec,
.qty-inc {
    background-color: var(--primary);
    color: var(--text2);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.qty-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}

.size-options button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid var(--primary);
    background-color: transparent;
    cursor: pointer;
}

.size-options .active {
    background-color: var(--primary);
    color: var(--text2);
}

.total-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.clear-cart {
    background-color: var(--primary);
    color: var(--text2);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
