.product-detail-page {
    padding: 5rem 0;
    min-height: calc(100vh - 130px);

    .product-main {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .product-images {
            flex: 1 1 45%;
            margin-bottom: 20px;
            

            .image-gallery-icon {
                display: none;

                &.image-gallery-fullscreen-button {
                    display: block;
                }
            }


            .image-gallery-bullets-container {
                .image-gallery-bullet {
                    background: var(--secondary);
                }

                .active {
                    background: var(--primary);
                }
            }

            .image-gallery-thumbnails-container {
                display: flex;
                justify-content: center;
                gap: 10px;

                button {
                    &:hover {
                        border-color: var(--secondary);
                    }

                    &.active {
                        border-color: var(--primary);
                    }
                }
            }
        }

        .product-info {
            flex: 1 1 50%;

            .heading {
                font-size: 2rem;
                color: var(--primary);
                margin-bottom: 10px;
                text-align: start;
            }

            .product-description {
                font-size: 1rem;
                margin-bottom: 10px;
            }

            .product-price {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .overall-rating {
                margin-bottom: 20px;

                .rating-score {
                    display: flex;
                    align-items: center;

                    .rating-number {
                        font-size: 1.5rem;
                        margin-right: 10px;
                    }
                }
            }

            .add-to-cart {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 1rem;
                background-color: var(--primary);
                border: none;
                color: var(--text2);
                cursor: pointer;
                transition: 0.3s ease;
                text-align: center;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    text-decoration: none;
                    color: var(--text2);
                }
            }
        }
    }


    @media (max-width: 768px) {
        .product-main {
            flex-direction: column;
            align-items: center;

            .product-image,
            .product-info {
                width: 100%;
                flex: unset;
            }
        }

        .product-info {
            .heading {
                font-size: 1.75rem;
            }

            .product-description,
            .product-price {
                font-size: 1rem;
            }

        }
    }
}