@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}

.user-header {
    padding: 12px;

    @include max(768px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar {
        position: relative;
        background: var(--background);
        z-index: 1000;

        .navbar-brand img {
            filter: drop-shadow(0px 0px 3px var(--primary));
        }

        .nav-item {
            margin-right: 8px;
            position: relative;
            @include max(768px) {
                border-bottom: 1px solid var(--text);
            }

            a {
                font-weight: 600;
                color: var(--text);
                position: relative;

                &.active,
                &:hover {
                    color: var(--primary);
                    transition: 0.3s all ease-in-out;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 8px;
                        bottom: 6px;
                        width: 0;
                        height: 3px;
                        background-color: var(--primary);

                        animation: draw-border 0.3s forwards;
                    }
                }
            }

            &.login {
                background-color: var(--primary);
                border-radius: 100px;
                padding: 0 12px;

                @include max(768px) {
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                }

                a {
                    color: var(--text2);

                    &.active ::after,
                    &:hover ::after {
                        display: none;
                    }

                    @include max(768px) {
                        color: var(--text);
                    }
                }
            }

            &.mode {
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.5rem;
                    color: var(--text);
                }
            }

            .count {
                position: absolute;
                top: -5px;
                right: -7px;
                background-color: var(--primary);
                color: var(--text2);
                font-size: 0.8rem;
                font-weight: 600;
                border-radius: 50%;
                padding: 0px 5px;
            }
        }

        .navbar-toggler {
            background-color: var(--primary);
            color: var(--text);
            transition: 0.3s ease;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                color: var(--text2);
            }
        }

    }
}