.widget {
    border: 1px solid var(--primary);
    max-height: 400px;
    overflow-y: auto;

    i {
        color: var(--primary);
    }

    table {

        tr,
        th,
        td {
            background-color: var(--background);
            border-color: var(--accent);
        }

        td a {
            background-color: var(--primary);
            border: none;
        }
    }

    .title,
    .showall {
        font-weight: 600;
        color: var(--primary);
    }

}