@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}

.about {
    padding: 2rem 0;
    color: var(--text);

    h2 {
        color: var(--primary);
    }

    .company-overview {
        text-align: center;
        padding: 40px 20px;

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
    }

    .history-section {
        .timeline {
            display: flex;
            flex-direction: column;
            align-items: center;

            .timeline-item {
                background: var(--background);
                padding: 20px;
                margin: 10px 0;
                width: 100%;
                box-shadow: 0px 0px 3px var(--primary);
                border-radius: 12px;

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: var(--primary);
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

.team-carousel-section {
    padding: 40px 20px;

    .test {
        border-radius: 50%;
    }

    .owl-stage-outer {
        // align-items: center;
        // display: flex;
        // min-height: 500px;
        // margin: 0 auto;
        // max-width: 1000px;
        position: relative;
    }

    .owl-carousel.owl-drag .owl-item {
        // height: 300px;
        // transition: all 0.3s ease-in-out;
        // width: 150px;
        // z-index: 0;
        // border-radius: 12px;
    }

    // .owl-carousel.owl-drag .owl-item.active,
    .team-carousel-section .owl-item.active:nth-child(1),
    .team-carousel-section .owl-item.active:nth-child(5) {
        border: 5px solid red;
        // transform: translateX(-20%);
    }

    // .carousel-item-test-2,
    // .carousel-item-test-4 {
    //     height: calc(150px * 1.5);
    //     opacity: 0.8;
    //     width: calc(150px * 1.5);
    //     z-index: 1;
    // }

    // .carousel-item-test-1 {
    //     left: 15%;
    // }

    // .carousel-item-test-2 {
    //     left: 30%;
    // }

    // .carousel-item-test-3 {
    //     box-shadow: 0 0 30px var(--background);
    //     height: calc(150px * 2);
    //     opacity: 1;
    //     left: 50%;
    //     width: calc(150px * 2);
    //     z-index: 2;
    // }

    // .carousel-item-test-4 {
    //     left: 70%;
    // }

    // .carousel-item-test-5 {
    //     left: 85%;
    // }
}