@mixin max($max-width) {
  @media screen and (max-width: #{$max-width}) {
    @content;
  }
}



.light-theme {
  --primary: #C42021;
  --secondary: #0E2CB0;
  --background: #FDE3D5;
  --text: #333333;
  --text2: #ffffff;
  --accent: #ffc3c3;
}

.dark-theme {
  --primary: #f7f7f7;
  --secondary: #4d4e57;
  --background: #363636;
  --text: #ffffff;
  --text2: #333333;
  --accent: #646463;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  overflow-x: hidden;
}

#shadow-host-companion {
  display: none !important;
}