@mixin max($max-width) {
  @media screen and (max-width: #{$max-width}) {
    @content;
  }
}



.light-theme {
  --primary: #a4133c;
  --secondary: #c9184a;
  --background: #fff0f3af;
  --text: #c9184a;
  --text2: #ffffff;
  --accent: #ffccd5;
  --shadow: #ffb3c1;
  --overlay: rgba(0, 0, 0, 0.3);
}

.dark-theme {
  --primary: #ffffff;
  --secondary: #ffffff;
  --background: #000000ea;
  --text: #ffffff;
  --text2: #000000;
  --accent: #ffffff;
  --shadow: #ffffff;
  --overlay: #ffffff;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  overflow-x: hidden;
}

#shadow-host-companion {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--accent);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  // opacity: .3;
}

.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 800;
  color: var(--primary);
}

.loader {
  width: 25px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: 5px;
  padding: 1px;
  background: conic-gradient(#0000 10%, #fff) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}

input.form-control:focus,
textarea.form-control:focus {
  box-shadow: none;
}

.form-floating>.form-control:focus~label::after {
  background-color: var(--background);
}

.modal-backdrop.show {
  opacity: 0;
  display: none;
}


.modal-content {
  border-radius: 18px;
  background-color: var(--background);
  border: 1px solid var(--primary);
  box-shadow: 0 0 10px var(--shadow);
  z-index: 1000 !important;

  .modal-header {
    background: var(--primary);
    color: var(--text2);
    border-radius: 16px 16px 0 0;

    h4 {
      font-weight: 600;
    }

    button {
      background-color: var(--accent);
      color: var(--text2);
      font-size: 1rem;
    }
  }

  .modal-body {

    .form-floating {

      input,
      textarea {
        background-color: var(--background);
        color: var(--text);
        border: 1px solid var(--primary);
      }

    }

  }

  .footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
}


.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 0;
}