@mixin max($max-width) {
    @media screen and (max-width: #{$max-width}) {
        @content;
    }
}


.hero {
    position: relative;
    background: url(/images/file.png) no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: calc(100vh - 70px);

    .hero-content {
        position: absolute;
        width: 100%;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);

        h1,
        h4 {
            margin-bottom: 8px;
            font-weight: 500;
            color: var(--primary);
        }

        p {
            margin-bottom: 0;
            font-weight: 700;
            color: var(--text);
        }

        button {
            margin-top: 16px;
            padding: 10px 30px;
            border: none;
            background-color: var(--primary);
            color: var(--text2);
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.features {
    padding: 5rem 0;

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .product {
            width: 23%;
            border-radius: 16px 16px 0 0;

            @include max(998px) {
                width: 47%;
            }

            @include max(576px) {
                width: 100%;
            }
        }
    }
}

.offers {
    position: relative;
    width: 100%;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 3px var(--primary);
    min-height: 50vh;
    max-height: 300px;

    .carousel-indicators button {
        background-color: var(--primary);
        height: 4px;
    }

    .carousel-item {
        position: relative;
        transition: transform 1s ease, opacity 2s ease;

        img {
            min-height: 50vh;
            max-height: 300px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right;

        }

        .content {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            width: 100%;

            h1,
            h4 {
                margin-bottom: 8px;
                font-weight: 500;
                color: var(--primary);
            }

            p {
                margin-bottom: 0;
                font-weight: 700;
                color: var(--text);
            }

            button {
                margin-top: 16px;
                padding: 10px 30px;
                border: none;
                background-color: var(--primary);
                color: var(--text2);
                border-radius: 5px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }
}

.blogs {
    padding: 5rem 0;

    img {
        width: 100%;
        height: 450px;
        object-fit: fit;
        border-radius: 12px;
        box-shadow: 0px 0px 3px var(--primary);
    }

    .blog-content {
        color: var(--text);

        .title {
            font-weight: 600;
        }
    }

}