.sidebar {
    min-height: 100vh;
    background: var(--accent);
    color: var(--text);
    position: relative;

    .navbar {

        .navbar-brand .close-btn {
            display: none;
            position: absolute;
            top: 16px;
            right: 15px;
            font-size: 1.5rem;
            color: var(--primary);
            background-color: var(--background);
            padding: 4px 6px;
            border-radius: 50%;
        }

        .navbar-nav {
            .nav-link {
                padding: 7px 20px;
                color: var(--text);
                font-weight: 500;
                border-radius: 0 30px 30px 0;
                outline: none;
                border-left: 3px solid var(--background);

                &:hover {
                    border-left: 3px solid var(--primary);
                }

                &.active {
                    color: var(--primary);
                    background: var(--text2);
                    border-left: 3px solid var(--primary);
                    cursor: pointer;

                    i {
                        background: var(--text2);
                    }
                }

                i {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--text2);
                    border-radius: 40px;
                }
            }

            .dropdown-toggle {
                &::after {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border: none;
                    content: "\f107";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    transition: .5s;
                }

                &.show {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }

            .dropdown-item {
                margin-left: 25px;
                padding-left: 25px;
                border-radius: 0 30px 30px 0;
                width: 90%;
                color: var(--text);

                &:hover {
                    color: var(--text);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sidebar .navbar .navbar-brand .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}