// Variables
$primary: #009CFF;
$light: #F3F6F9;
$dark: #191C24;




// Navbar
.sidebar {
    .navbar {
        .navbar-nav {
            .nav-link {
                padding: 7px 20px;
                color: $dark;
                font-weight: 500;
                border-left: 3px solid $light;
                border-radius: 0 30px 30px 0;
                outline: none;

                &:hover,
                &.active {
                    color: $primary;
                    background: #FFFFFF;
                    border-color: $primary;
                    cursor: pointer;

                    i {
                        background: $light;
                    }
                }

                i {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: #FFFFFF;
                    border-radius: 40px;
                }
            }

            .dropdown-toggle {
                &::after {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    border: none;
                    content: "\f107";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    transition: .5s;

                    &[aria-expanded=true] {
                        transform: rotate(-180deg);
                    }
                }
            }

            .dropdown-item {
                padding-left: 25px;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}